body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}
.color-heading{
    color: rgb(0, 123, 128);
}
section{
    display: flex;
}
.for-h1{
    font-family: 'Racing Sans One', cursive;
    font-size: 35px;
    padding-left: 2%;
    border-left: 5px solid;
    border-color: rgb(80, 83, 206);
}
.button{
    text-decoration: none;
    background-color: rgb(86, 86, 175);
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width p{
    width: 70%;
    
}
.half-width img{
    width: 55%;
}
.part2-start{
    text-align: center;
}
.part-2{
    display: flex;
}
.h1-part2{
    font-size: 35px;
    text-align: center;
    color: rgb(6, 6, 46);
}
.part2-start{
    
}
.part2-weidth{
    margin: 100px;
    width: 50%
    padding: 2%;
    
}
.part2-weidth img{
    width: 30%;
}
#p2-background1{
    background-color: rgb(87, 51, 86);
    border-radius: 5px;
    margin: 100px;
}
.part-3{
    width: 40%;
    padding: 10%;
}
.part-3 img{
    width: 70%;
}
.part-3 h2{
     font-size: 30px;
}
.part-4{
    width: 40%;
    padding: 10%;
}
.part-4 h2{
font-size: 30px;
}
.part-4 img{
width: 70%;
}
.last{
    background-color: black;
    color: white;
    text-align: center;
    padding: 3%;
    
}
