body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    
}
.color-heading{
    color: rgb(0, 123, 128);
}
.flexible-area{
    display: flex;
    margin-bottom: 50px;
}
#for-part1{
    padding: 5%;
}
.for-h1{
    font-family: 'Racing Sans One', cursive;
    font-size: 35px;
    padding-left: 2%;
    border-left: 5px solid;
    border-color: rgb(80, 83, 206);
}
.button{
    text-decoration: none;
    background-color: rgb(86, 86, 175);
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
}
.half-width{
    width: 60%;
    padding: 5px;
}
.half-width p{
    width: 70%;
    
}
.half-width img{
    width: 55%;
    align-items: center;
    
    
}
.part2-start{
    text-align: center;
}
.flexible-area2{
    display: flex;
    margin-bottom: 2%;
    padding: 0% 5%;
    
}
.h1-part2{
    font-size: 35px;
    text-align: center;
    color: rgb(6, 6, 46);
}

.part2-weidth img{
    width: 30%;
}
.part2-weidth{
    margin-bottom: 5%;
    padding: 0% 5%;

}
#p2-background1{
        background-color: rgb(209, 182, 219);
        border-radius: 10px;
}
.part-3{
    width: 30%;
    padding: 2% 5%;
}
.part-3 img{
    width: 70%;
}
.part-3 h2{
     font-size: 30px;
}
.part-4{
    width: 40%;
    padding: 2% 5%
}
.part-4 h2{
font-size: 30px;
margin: ;
}
.part-4 img{
width: 70%;
}
.last{
    background-color: black;
    color: white;
    text-align: center;
    padding: 3%;
    
}
